In [7]:
#!pip install pandas 
#!pip install matplotlib
#!pip install plotly
#!pip install seaborn

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [12]:
df = pd.read_csv('homicide_by_countries.csv')
df.head()

      Location  Region        Subregion  Rate  Count  Year
0  Afghanistan    Asia    Southern Asia   6.7   2474  2018
1      Albania  Europe  Southern Europe   2.1     61  2020
2      Algeria  Africa  Northern Africa   1.3    580  2020
3      Andorra  Europe  Southern Europe   2.6      2  2020
4       Angola  Africa    Middle Africa   4.8   1217  2012

In [13]:
df.shape

(195, 6)

In [14]:
df.isnull().num()

AttributeError: 'function' object has no attribute 'num'